<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyperLib | Header</title>
</head>
<body>
<header class="header" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <img th:src="@{/img/common/logo.png}" alt="logo" width="auto" height="50" class="navbar-brand"/>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">|</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/catalog/books}">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/catalog/movies}">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/catalog/songs}">Songs</a>
                    </li>

                    <!-- Only for admins -->
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <span class="nav-link">|</span>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>

                    <!-- Only for librarians -->
                    <li class="nav-item" sec:authorize="hasRole('ROLE_LIBRARIAN')">
                        <span class="nav-link">|</span>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_LIBRARIAN')">
                        <a class="nav-link" th:href="@{/catalog}">Catalog</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_LIBRARIAN')">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>
                </ul>
                <form th:action="@{/users/search}" method="get" class="me-2">
                    <div class="input-group">
                        <input type="search" class="form-control" name="username" placeholder="Search user"
                               aria-describedby="search-user" required>
                        <button class="btn btn-outline-primary" type="submit" id="search-user">Go</button>
                    </div>
                </form>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button"
                            id="profile" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="profile">
                        <div sec:authorize="isAnonymous()">
                            <li><a class="dropdown-item" th:href="@{/registration}">Register</a></li>
                            <li><a class="dropdown-item" th:href="@{/login}">Login</a></li>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <li>
                                <a class="dropdown-item" th:text="${#authentication.name}"
                                   th:href="@{'/users/' + ${#authentication.name}}"></a>
                            </li>
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>