<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyperLib | Catalog</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="wrapper">
    <header th:replace="common/header :: header"></header>

    <main class="main">
        <div class="container-fluid">
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary" th:href="@{'/catalog/create?itemType=book'}">Create a book</a>
                <a class="btn btn-primary mx-2" th:href="@{'/catalog/create?itemType=movie'}">Create a movie</a>
                <a class="btn btn-primary" th:href="@{'/catalog/create?itemType=song'}">Create a song</a>
            </div>

            <table class="table table-striped table-hover caption-top align-middle">
                <caption>Catalog</caption>
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Code</th>
                    <th scope="col">Item type</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Adding date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td class="fw-bold" th:text="${item.id}"></td>
                    <td><a th:href="@{'/catalog/item/' + ${item.code}}" th:text="${item.code}"></a></td>
                    <td th:text="${item.itemType}"></td>
                    <td th:text="${item.title}"></td>
                    <td th:text="${item.author}"></td>
                    <td>
                        <span th:each="category : ${item.categories}" th:text="' ( ' + ${category.name} + ' ) '"></span>
                    </td>
                    <td th:text="${item.addingDate}"></td>

                    <td>
                        <div class="action-buttons">
                            <a th:href="@{'/catalog/item/' + ${item.code} + '/edit'}" class="action-button">
                                <img th:src="@{/img/common/edit.png}" alt="edit">
                            </a>

                            <form th:action="@{'/catalog/item/' + ${item.code} + '/delete'}" method="post">
                                <button type="submit" class="action-button">
                                    <img th:src="@{/img/common/delete.png}" alt="delete">
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer th:replace="common/footer :: footer"></footer>
</div>
</body>
</html>