<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyperLib | UserProfileEdit</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <header th:replace="common/header :: header"></header>

    <main class="main main-centered">
        <form th:action="@{'/users/' + ${editedUser.username} + '/profileEdit'}" method="post" th:object="${editedUser}" class="form">
            <span class="form-title">Profile editing</span>

            <input type="text" class="input-field" th:field="*{firstName}" placeholder="New First Name">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Firstname error</span>

            <input type="text" class="input-field" th:field="*{lastName}" placeholder="New Last Name">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname error</span>

            <input type="text" class="input-field" th:field="*{username}" placeholder="New Username">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
            <span th:if="${usernameError}" th:text="${usernameError}">Username error</span>

            <input type="password" class="input-field" th:field="*{password}" placeholder="Confirm Or Update Password">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>

            <p>Changed your mind? <a th:href="@{'/users/' + ${editedUser.username}}">Return</a></p>

            <button type="submit" class="button">Save</button>
        </form>
    </main>

    <footer th:replace="common/footer :: footer"></footer>
</div>
</body>
</html>