<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyperLib | Users</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <header th:replace="common/header :: header"></header>

    <main class="main">
        <table class="users-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Registration Date</th>
                <th>Locked</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.id}" style="font-weight: 600"></span></td>
                <td><span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></td>
                <td><a th:href="@{'/users/' + ${user.username}}" th:text="${user.username}"></a></td>
                <td><span th:text="${user.roles}"></span></td>
                <td><span th:text="${user.registrationDate}"></span></td>

                <td>
                    <img th:src="@{'/img/common/' + 'true' + '.png'}" alt="true" th:if="${user.getLocked == true}">
                    <img th:src="@{'/img/common/' + 'false' + '.png'}" alt="false" th:if="${user.getLocked == false}">
                </td>

                <td th:if="${user.username != #authentication.name}">
                    <div class="action-buttons">
                        <a th:href="@{'/users/' + ${user.username} + '/edit'}" class="action-button">
                            <img th:src="@{/img/common/edit.png}" alt="edit">
                        </a>

                        <!-- LOCKING-UNLOCKING USER -->
                        <form th:action="@{'/users/' + ${user.username} + '/lockUnlock'}" method="post">
                            <button type="submit" class="action-button" th:if="${user.getLocked == false}">
                                <img th:src="@{/img/common/lock.png}" alt="lock">
                            </button>
                            <button type="submit" class="action-button" th:if="${user.getLocked == true}">
                                <img th:src="@{/img/common/unlock.png}" alt="unlock">
                            </button>
                        </form>

                        <!-- DELETING USER -->
                        <form th:action="@{'/users/' + ${user.username} + '/delete'}" method="post">
                            <button type="submit" class="action-button">
                                <img th:src="@{/img/common/delete.png}" alt="delete">
                            </button>
                        </form>
                    </div>
                </td>

                <td th:unless="${user.username != #authentication.name}"></td>
            </tr>
            </tbody>
        </table>
    </main>

    <footer th:replace="common/footer :: footer"></footer>
</div>
</body>
</html>