<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'HyperLib | ' + ${user.username}"></title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <header th:replace="common/header :: header"></header>

    <main class="main main-centered">
        <form th:action="@{'/users/' + ${user.username} + '/edit'}" method="post" class="form">
            <span class="form-title" th:text="'User ' + ${user.username} + ' editing'"></span>

            <input type="text" class="input-field" th:value="${user.firstName}" readonly>

            <input type="text" class="input-field" th:value="${user.lastName}" readonly>

            <input type="text" class="input-field" th:value="${user.username}" readonly>

            <div class="role-group">
                <span>Roles:</span>
                <ul>
                    <li th:each="role : ${roles}">
                        <input type="checkbox" th:name="${role}" th:if="${user.roles.contains(role)}" checked>
                        <input type="checkbox" th:name="${role}" th:unless="${user.roles.contains(role)}">
                        <span th:text="${role}"></span>
                    </li>
                </ul>
            </div>

            <p>Changed your mind? <a th:href="@{/users}">Return</a></p>

            <button type="submit" class="button">Save</button>
        </form>
    </main>

    <footer th:replace="common/footer :: footer"></footer>
</div>
</body>
</html>