<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyperLib | User</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="wrapper">
    <header th:replace="common/header :: header"></header>

    <main class="main main-centered">
        <div class="container">
            <p><img th:src="@{${user.imageUrl}}" alt="profileImage" width="auto" height="200"></p>
            <p th:text="${user.firstName} + ' ' + ${user.lastName}"></p>
            <p th:text="${user.username}"></p>
            <a class="btn btn-primary" th:if="${#authentication.name == user.username}"
               th:href="@{'/users/' + ${user.username} + '/profileEdit'}">Edit profile</a>
        </div>
    </main>

    <footer th:replace="common/footer :: footer"></footer>
</div>
</body>
</html>