@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

.header {
    box-shadow: 0 0 .25rem .25rem var(--bs-primary);
}

.footer {
    margin-top: auto;
    box-shadow: 0 0 .25rem .25rem var(--bs-primary);
}

.main {
    padding: 4rem 0;
}

.main-centered {
    margin: auto 0;
    align-self: center;
}

.main-centered+footer {
    margin: unset;
}

.form {
    min-width: 30rem;
    padding: 2rem 3rem;
    border-radius: .25rem;
    box-shadow: 0 0 .25rem .25rem var(--bs-primary);
    display: flex;
    flex-direction: column;
}

.error {
    color: var(--bs-red);
}

.action-buttons {
    display: flex;
    align-items: center;
}

.action-button {
    margin: 0 .125rem;
    padding: .25rem;
    border: 2px solid var(--bs-dark);
    border-radius: .25rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}