<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyperLib | Home</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="wrapper">
    <header th:replace="common/header :: header"></header>

    <main class="main main-centered">
        <p th:text="'Books: ' + ${books.size()}"></p>
        <p th:text="'Movies: ' + ${movies.size()}"></p>
        <p th:text="'Songs: ' + ${songs.size()}"></p>
    </main>

    <footer th:replace="common/footer :: footer"></footer>
</div>
</body>
</html>