<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyperLib | Login</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <header th:replace="common/header :: header"></header>

    <main class="main main-centered">
        <form th:action="@{/login}" method="post" class="form">
            <span class="form-title">Login please</span>

            <input type="text" class="input-field" name="username" placeholder="Username" required autofocus>

            <input type="password" class="input-field" name="password" placeholder="Password" required>

            <p>Do not have an account? <a th:href="@{/registration}">Register</a></p>

            <button type="submit" class="button">Login</button>

            <div th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
                <span th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
            </div>
        </form>
    </main>

    <footer th:replace="common/footer :: footer"></footer>
</div>
</body>
</html>