<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${user.username}"></title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    <a th:href="@{/home}">Home</a>
    <hr>

    <div>First name : <a th:text="${user.firstName}"></a></div>
    <div>Last name : <a th:text="${user.lastName}"></a></div>
    <div>Username : <a th:text="${user.username}"></a></div>
    <div>Roles : <a th:text="${user.roles}"></a></div>
    <div>Registration date : <a th:text="${user.registrationDate}"></a></div>
</body>
</html>