<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username}"></title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    <a th:href="@{/home}">Home</a>
    <hr>

    <div>First name : <span th:text="${user.firstName}"></span></div>
    <div>Last name : <span th:text="${user.lastName}"></span></div>
    <div>Username : <span th:text="${user.username}"></span></div>
    <div>Roles : <span th:text="${user.roles}"></span></div>
    <div>Registration date : <span th:text="${user.registrationDate}"></span></div>
    <div>Blocked : <span th:text="${user.blocked}"></span></div>
</body>
</html>