<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Users</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    <a th:href="@{/home}">Home</a>
    <hr>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Roles</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="user : ${users}">
                <td><a th:text="${user.id}"></a></td>
                <td><a th:href="@{'/users/' + ${user.username}}" th:text="${user.username}"></a></td>
                <td><a th:text="${user.roles}"></a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>